*{
    margin:0;
    padding:0;
}
header{
   background-color:#506056;
   
    background-size: contain;
    width:100%;
   
}

.top{
    
    color: #F6EFE7;
    display:flex;
    justify-content: space-between;
   align-content: center;
   background-size: auto;
   margin-left: 165px;
   padding-top: 10px;
   
   
}
a:link{
    color: #F6EFE7;
    text-decoration: none;
}
a:visited{
    color: #F6EFE7;
}
.top-nav{
    
    display:flex;
    gap: 28px;
    list-style-type: none;
    margin-right: 300px;
}

.eat-image{
display: flex;
    border-radius: 150%;
    height: 300px;
    width: 600;
  margin-left: 800px;
  border: 8px solid white;
  
  position: absolute;
  margin-bottom: 30px;
   /* margin-right: 500px; */
    

    
}
.mid{
    gap: 8px;
    color:#F6EFE7; 
    display: flex;
    align-items: center;
flex-direction: column-reverse;
justify-content: center;
padding-bottom: 120px;
padding-left: 15px;
padding-top: 120px;
margin-left: 150px;
}
.signupbutton {
    background-color: #C87E5D;
color:#F6EFE7;
/* font-family: cursive; */
    align-self:flex-start;
    margin-left: 150px;
    order: -1;
    border-radius: 
}

p{
    align-self:flex-start;

}
h1{
    order: 1;
    align-self:flex-start



}

.process{
    display: flex;
    justify-content: center;
    gap:200px;

    

}
.hat-dog,.doc-dog,.dog-treat{

    height: 350px;
    width: 250px;
    border-radius: 150%;
    border: 8px solid #506056;
  
    
}
.howitworks{
    color: #506056;
   margin-left: 850px;
   padding-top: 14px;
   padding-bottom: 50px;
}
.quote{
    margin-top: 80px;
    background-color: #F6EFE7;
    padding:68px;
    text-align:center;
    font-size: 13px;
    margin-bottom:80px;
}
body{
    background-color: #EADBCD;
}

.hat-dog{
    display: flex;
}
.picture-text{
    padding-top: 12px;
    display: flex;
    justify-content: center;
    gap:200px;
    font-size: 10px;
    color: #506056;

}
.bottom-banner{
    background-color: #C87E5D;
    margin-left: 550px;
    margin-right: 550px;
    text-align: center;
    padding: 40px;
}
.banner-signup{
    background-color: #F6EFE7 ;
    color:#506056;
}.footer{
    margin-top: 280px;
    padding-top: 28px;
    background-color: #506056;
color: #F6EFE7;
text-align: center;
}