
header{
   background-color: rgb(200, 232, 236);
   
    background-size: contain;
    width:100%;
   
}

.top{
    
    color: white;
    display:flex;
    justify-content: space-between;
   align-content: center;
   background-size: auto;
   
   
}
.top-nav{
    
    display:flex;
    gap: 8px;
    list-style-type: none;
}
.eat-image{
display: flex;
    border-radius: 50%;
    height: 350px;
    width: 250px;
  margin-left: 400px;
  border: 8px solid white;
  border-color: white;
  position: absolute;
  margin-top: 100px;
   
    

    
}
.mid{
    display: flex;
    align-items: center;
flex-direction: column-reverse;
justify-content: center;
}
button{
    background-color: pink;
    align-self:flex-start;
    margin-left: 150px;
    order: -1;
    border-radius: 50%;
}

p{
    align-self:flex-start;

}
h1{
    order: 1;
    align-self:flex-start

}
