
header{
   background-color: rgb(200, 232, 236);
   
    background-size: contain;
    width:100%;
   
}

.top{
    
    color: white;
    display:flex;
    justify-content: space-between;
   align-content: center;
   background-size: auto;
   
   
}
.top-nav{
    
    display:flex;
    gap: 8px;
    list-style-type: none;
}
.eat-image{
    border-radius: 50%;
    height: 450px;
    width: 300px;
    
}
